@import "tailwindcss";


@font-face {
  font-family: 'DMMono';
  src: url('src/assets/DMMono-Regular.ttf') format('opentype');
}

* {
  box-sizing: border-box;
  font-family: DMMono;
}

#app { 
  padding-top: 1rem;
  background-color: rgb(247, 246, 245);
  min-height: 100vh;
  padding-inline: 15%;
}